body {
  background-color: rgb(218, 218, 218);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#titleContainer {
  display: flex;
}

h1 {
  color: white;
  font-size: 10em;
}

#mainContainer {
  display: flex;
  flex-direction: row;
}

#productsContainer {
  max-width: 50em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.productContainer {
  background-color: rgb(234, 234, 240);
  margin: 1em;
}

.productName {
  color: black;
  font-size: 1.5em;
  padding: 1em;
}

.productImage {
  height: 10em;
  width: 10em;
  padding: 1em;
}

.productPrice {
  color: black;
  font-size: 1.5em;
  padding: 1em;
}

.addToCartButton {
  color: black;
  font-size: 1.5em;
  border-radius: 1em;
  margin: 0.5em;
}

#cartContainer {
  height: auto;
  width: 300px;
  background-color: white;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

#cartItemsContainer {
  background: white;
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.cartProductName {
  font-size: 1em;
}

.cartProductPrice {
  font-size: 1em;
}

.cartProductImage {
  height: 3em;
  width: 3em;
}

.removeFromCartButton {
  color: black;
  font-size: 1em;
  border-radius: 1em;
  background-color: rgb(210, 103, 103);
}

.addedToCartButton {
  color: black;
  font-size: 1.5em;
  border-radius: 1em;
  background-color: rgb(210, 103, 103);
  margin: 0.5em;
}
